body {
    text-align: center;
   background-color:#00ccff;
  background:linear-gradient(#0066ff 0%, #00ccff 100%);
  background-repeat:no-repeat;

}

#about {
    position: absolute;
    height: 300px;
    width: 100%;
   z-index:10;
  left:0px;
      background: #00ccff;
  background-repeat:no-repeat;
    
}

h1 {
    color: #ffffff;
    font-size: 75px;
}

img {
    height: 400px;
    width: 600px;
    border-radius:200px;
    
}
h2{
    font-family:cursive;
    font-size:50px;
}
p{
  font-size:25px;
  font-family:cursive;
 
}

#videos{
   
    height: 100%;
    width: 100%;
  left:0px;
      background: #00ccff;
  background-repeat:no-repeat;
    padding-top:400px;
}



.menu {
    list-style: none;
    font-family: Cursive;
    font-size: 25px;
    position: absolute;
    top: 3px;
    right: 700px;
    z-index: 10;
    cursor: pointer;
}

.link {
    float: left;
    color: #0000b3;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    
}

.link:hover{
    background-color:#ff8000;
    font-size:35px;
}

#img{
    transition: transform .2s;
    border: 10px solid ##33ccff;
}

#img:hover{
    transform: scale(0.9);
}
#img1{
    transition: transform .2s;
    border: 10px solid ##33ccff;
}

#img1:hover{
    transform: scale(0.9);
}
#section3{
    text-align: center;
   background-color:#00ccff;
  background:linear-gradient(#0066ff 0%, #00ccff 100%);
  background-repeat:no-repeat;
    height:100%;

}
#Contacts{
     position: absolute;
    height: 100%;
    width: 100%;
  left:0px;
      background: #00ccff;
  background-repeat:no-repeat;
    
}